<!-- per ciclo for 
$count: Indicates the number of items in the array
$index: Indicates the index of the item in the array
$first/$last: Indicates whether the current item is the first or last one in the array
$even/$odd: Indicates whether the index of the item in the array is even or odd  -->

@if (selectedProduct) {
<p>
  You selected:
  <strong>{{ selectedProduct.title }}</strong>
</p>
} @for (product of products; track product.id) {
<li class="pill" (click)="selectedProduct = product">
  @switch (product.title) { @case ('Keyboard') { } @case ('Microphone') { }
  @default { } }
  {{ product.title }}
</li>
}
